<!-- jumbotron -->
<div class="container" id="home-container">
    <!-- Content here -->
    <div class="container-fluid bg-jumbotron rounded-3 text-center pt-4 d-flex flex-column justify-content-center">
        <h1 class="display-5 fw-bold">Blog do Guilherme</h1>
        <p class="lead">Utilizando Ruby on Rails para desenvolvimento web!</p>
        <div>
            <%= link_to "Escrever!", new_article_path, class: "btn btn-success btn-lg w-25" %>
        </div>
    </div>
</div>