<div id="page-content" class="">
    <!-- jumbotron -->
    <div class="container" id="home-container">
        <!-- Content here -->
        <div class="rounded-3 text-center">
            <div class="container-fluid py-5 bg-jumbotron d-flex flex-column align-items-center">
                <h1 class="display-5 fw-bold">Blog do Guilherme</h1>
                <p class="lead">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
                <button class="btn btn-success btn-lg" type="button">Escrever!</button>
            </div>
        </div>
    </div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
        <small>Copyright &copy - <%= link_to "Guilherme Leal Santos", "http://www.github.com/guileals", class: "text-white" %></small>
    </div>
</footer>