<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
        <small>Copyright &copy - <%= link_to "Guilherme Leal Santos", "http://www.github.com/guileals", class: "text-white" %></small>
    </div>
</footer>